In [6]:
1+2

3

In [2]:
3-2

1

In [3]:
5*3

15

In [5]:
10/3

3.3333333333333335

In [7]:
2%5

2

In [8]:
10%2

0

# variable assignment

In [9]:
a=3

In [10]:
a

3

In [11]:
a+a

6

In [12]:
a=a*a

In [13]:
a

9

In [14]:
a=a*a

In [15]:
a

81

In [16]:
type(a)

int

In [17]:
a=30.3

In [18]:
type(a)

float

In [19]:
my_income = 100
tax_rate = 0.1
total_tax = my_income * tax_rate

In [20]:
total_tax

10.0

# strings

## slice and index

### index is [ ] starts from 0 1 2 3 ... or 0...-3 -2 -1
### slice syntax [start:stop:step]

In [21]:
"hey i'm here"

"hey i'm here"

In [22]:
"go to school"
"study well"

'study well'

In [23]:
print("go to school")
print("study well")

go to school
study well

In [24]:
print("study \n well")

study
 well

In [25]:
print("study \t well")

study 	 well

In [26]:
len("i am")

4

In [27]:
len("karan")

5

In [28]:
my_string = "hello python"

In [29]:
my_string

'hello python'

In [30]:
my_string[0]

'h'

In [31]:
my_string[-1]

'n'

In [32]:
my_string[-2]

'o'

In [33]:
my_string[6]

'p'

In [34]:
my_string[7]

'y'

In [35]:
my_string[5]

' '

In [36]:
my_string

'hello python'

In [37]:
new_string = 'abcde'

In [38]:
new_string

'abcde'

In [39]:
new_string[2:]

'cde'

In [40]:
new_string[:2]

'ab'

In [41]:
new_string[:3]

'abc'

In [42]:
new_string[1:4]

'bcd'

In [43]:
new_string[::2]

'ace'

In [44]:
new_string

'abcde'

#### reverse of the string

In [45]:
new_string[::-1]

'edcba'

In [46]:
'hello worls'[3]

'l'

## string properties and string methods
### Immutability

In [47]:
name = 'sam'

In [48]:
name

'sam'

In [49]:
#to convert it to pam we cant just do
#name[0] = 'p'

In [50]:
#we have to merge strings i.e string concatination

In [51]:
lastLetter = name[1:]

In [52]:
lastLetter

'am'

In [53]:
'p' + lastLetter

'pam'

In [54]:
#example 2

In [55]:
x = 'hello world'

In [57]:
x + ' welcome'

'hello world welcome'

In [58]:
'x' * 10

'xxxxxxxxxx'

In [59]:
x.upper()

'HELLO WORLD'

In [60]:
x

'hello world'

In [61]:
x.split()

['hello', 'world']

In [62]:
#that is a list

In [64]:
x.split('l')

['he', '', 'o wor', 'd']